doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
    body
        form(action= 'https://cryptic-tor-56909-5784f15687f4.herokuapp.com/creater' method='post')
            | Username
            input(type='text' name='username')
            | First
            input(type='text' name='first')
            | Last
            input(type='text' name='last')
            | Born
            input(type='text' name='born')
            |
            input(type='submit' value='Log In')
