block content


    ul
        each item in name
            li.list-group-item
                p First Name: #{item.first}
                p Last Name: #{item.last}
                p DOB: #{item.born}


    button  Login