block content


    ul
        each item, index in name
            li.list-group-item
                p #{index + 1}
                p First Name: #{item.first}
                p Last Name: #{item.last}
                p DOB: #{item.born}


